$primary-color = #85cf3a
$primary-color-highlighted = #85df3a
$alpha-primary-color = rgba(133, 207, 58, 0.3)
$info-color = $blue-color = rgb(0, 120, 220)
$warn-color = $orange-color = rgb(230, 167, 20)
$orange-color-highlighted = rgb(240, 187, 20)
$danger-color = $red-color = rgb(220, 40, 20)
$danger-color-highlighted = rgb(240, 40, 20)
$light-border-color = rgba(7, 17, 27, 0.1)
$dark-border-color = rgba(120, 120, 120, 0.3)
$background-color-grey = #d8d8d8
$background-color-light-grey = #f2f2f2
$background-color-mask-grey = rgba(120, 120, 120, 0.3)
$background-color-disabled-grey = #8e8e8e
$background-color-disabled-grey-highlighted = #9e9e9e
$text-color-grey = #d8d8d8
$text-color-dark-grey = #8d8d8d
$text-small = 12px
